<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="/user-collection" routerLinkActive="active" (click)='tab_switch_4()'>Collection</a>
      <a class="nav-link active" routerLink="/chat-room" routerLinkActive="active" (click)='tab_switch_3()'>Chat-Room</a>
      <a class="nav-link active" routerLink="/workflow" routerLinkActive="active" (click)='tab_switch_2()'>Workflow</a>
      <a class="nav-link active" routerLink="/profile" routerLinkActive="active" (click)='tab_switch_1()'>Profile</a>
    </div>
  </div>
  <span class="navbar-text">
    {{tokenID}}
  </span>
</nav>
<div class="tab_switch_homepage" [style.display]="tab_switch_homepage">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@ User Name</span>
    </div>
    <input type="text" class="form-control" placeholder='user_name' aria-label="Username" aria-describedby="basic-addon1">
    <button></button>
  </div>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Number of Finished Tasks
      <span class="badge badge-primary badge-pill">{{number_finished}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Number of Dropped Tasks
      <span class="badge badge-primary badge-pill">{{number_dropped}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Number of Times 
      <span class="badge badge-primary badge-pill">{{number_times}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Number of Connections 
      <span class="badge badge-primary badge-pill">{{number_conn}}</span>
    </li>
  </ul>
</div>
<router-outlet #routerOutlet="outlet"></router-outlet>
