<div class="profile_box">
    <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" width="200px">
    <p class="name">{{user_name}}</p>
    <div class="update_profile">
        <div class="update_name">
            <input class="update_name_input">
            <button class="update_name_btn">Update</button>
        </div>
        <hr>
        <div class="status">
            <p class="status_des">Status</p>
            <p class="current_status">--{{current_status}}--</p>
            <button class="btn_1">Working
            </button>
            <button class="btn_2">Chating
            </button>
            <button class="btn_3">Relaxing
            </button>
            <br />
            <input class="update_status_input">
            <button class="update_stauts_btn">Update</button>
        </div>
    </div>
    <br />
    <button class="logout">Log Out</button>
    <br />
    <button class="delete">Delete the Account</button>

</div>