<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Index page</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css" />

    <!-- Bootstrap include -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Javascript includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="controller/user-controller.js"></script>
  </head>

  <body ng-controller="myCtrl">
    <div id="nav">
        <h1 id="navHeader">Focus-Instant</h1>
      </div>
    <div id="background">
      
  
        <form id="login"ng-submit="login()">
          <input type="text" ng-model="email" name="email" placeholder="Email" />
          <input type="password" ng-model="password" name="password" placeholder="Password">
          <button type="submit" class="btn btn-primary pink">Login</button>
        </form>
      
      <p id="loginText" style="color: blueviolet;">Don't have an account?</p>
      <form ng-submit="register()" action="register.html">
            <button type="submit" class="btn btn-primary pink">Register</button>
      </form>
    </div>
  </body>
</html>

