<div class="box_1">
    <img url="">
    <p>Welcome to Focus-iInstant</p>
    <div class="box_2">
        <div class="box_signup">
            <p>Don't have an account yet? Get a token for free</p>
            <button class="signup" (click)="generate_token()">Get a token</button>
            <p class="token_for_signup"></p>
        </div>
        <div class="box_login">
            <input class="input_for_login">
            <button class="button_for_login" (click)="login()">Login</button>
        </div>
    </div>
</div>
